.check {
  list-style: none;
}
.check li {
  position: relative;
  padding-left: 2.5em;
}

.pl-25em {
  padding-left: 2.5em;
}
.checked {
  color: orange;
}
.check li:before {
  content: "✓";
  position: absolute;
  font-weight: bold;
  left: 0;
  width: 2em;
  height: 2em;
}

.nav-item a.nav-link.active,
.nav-item a.nav-link:hover {
  border-bottom: 2px solid #dc0a0a !important;
  color: #dc0a0a !important;
}

.squareBall {
  width: 20px;
  height: 20px;
}

.pieChart, .pieChart2 {
  width: 100px;
  height: 100px;
  border: 10px solid powderblue;
}

.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.donut-chart .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.donut-chart .chart-center {
  position: absolute;
  border-radius: 50%;
}
.donut-chart .chart-center span {
  display: block;
  text-align: center;
}
.donut-chart.chart2 {
  width: 100px;
  height: 100px;
  background: #e1e1e1;
}
.donut-chart.chart2 .slice.one {
  clip: rect(0 50px 100px 0);
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
  background: #48b2c1;
}
.donut-chart.chart2 .slice.two {
  clip: rect(0 50px 100px 0);
  -webkit-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
  background: #48b2c1;
}
.donut-chart.chart2 .chart-center {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  background: #fff;
}
.donut-chart.chart2 .chart-center div small {
  text-align: center;;
  /* font-size: 16px; */
  /* line-height: 100px; */
  /* color: #48b2c1; */
}
.donut-chart.chart2 .chart-center span:after {
  /* content: "91%"; */
}
.w-5{
  width: 5%;
}
.w-20{
  width: 20%;
}

.fw-900 {
  font-weight: 900;
}

.fa-plus {
  font-size: 1em;
  font-weight: normal;
}

.bar {
  position: relative;
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: #e4e4e4;
  z-index: 0;
}
.percent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #707070;
  height: 100%;
}

.w-60 {
  width: 60% !important;
}
@media screen and (max-width: 430px) {
  h5 {
    font-size: 16px !important;
  }
  .check li {
    position: relative;
    padding-left: 1.5em;
  }
  .pl-25em {
    padding-left: 1em;
  }
  .check {
    padding-left: 1em;
  }
  h3 {
    font-size: 20px !important;
  }
}

.gradientBg {
  background-image: linear-gradient(
    179.1deg,
    rgb(162, 169, 180) -1.9%,
    rgb(176, 181, 190) 44.9%,
    rgb(150, 155, 165) 96.1%
  );
}
.courseCard{
    max-width: 255px;
    min-width: 200px;
}
.bottom-20{
  bottom:20px;
}

.BrandingBg {
  background-image: url("./images/BrandingLanding.png");
}
.BusinessBg {
  background-image: url("./images/BusinessLanding.png");
}
.UXBg {
  background-image: url("./images/UXLanding.png");
}
.UIBg {
  background-image: url("./images/UIPage.png");
}


@media screen and (max-width: 576px) {
.courseCard h4{
    font-size: 16px;
}

.fs-12, .couponBtn{
    font-size: 12px !important;
}
.hero-image {
  height: max-content;
}
.nav-item a.nav-link {
  font-size: 15px !important;
}
}

@media screen and (max-width: 1000px) {
  span.fa,
  .fs-14,
  .ratings span {
    font-size: 14px !important;
  }
}
