@font-face {
  font-family: Rubik-Regular;
  src: url(./fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(./fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(./fonts/Gilroy-Bold.ttf);
  font-weight: bold;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Rubik-Regular;
}

/* Generic classes */
.font-18 {
  font-size: 18px;
}
.customBold {
  font-family: Gilroy-Bold !important;
}
.hide{
  visibility: hidden;
}
.z-30 {
  z-index: 30;
}
.z-100 {
  z-index: 100;
}
.redText {
  color: #dc0a0a !important;
}

.blackBg {
  background-color: black !important;
}
.redBg {
  background-color: #dc0a0a !important;
}
.altBg {
  background-color: #e8e8e8 !important;
}
.textWhite {
  color: white;
}
.noDeco, .noDeco:hover {
  text-decoration: none !important;
}
.pinkBg {
  background-color: #fadada;
}

.goldBg {
  background-color: #f5d7b6;
}
.goldText {
  color: #f5d7b6;
}
.redBorder {
  border: 1px solid #dc0a0a;
}
.h-110 {
  height: 110px;
}
.borderedBtn {
  border-radius: 20px;
  width: max-content;
}

/* End of Generic classes */

/* Start of Header */
.site-header {
  z-index: 10;
  background: transparent;
}

.navLinks a {
  text-decoration: none;
}
.navLinks:hover, .column a:hover {
  border-bottom: 2px solid #dc0a0a;
  text-decoration: none;
}
.h-90{
  height: 90% !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 1;
}
.dropdownDiv:hover .dropdown-content {
  display: block;
}
.dropdownDiv:hover .dropdownBtn,
.dropdownBtn:hover {
  color: black;
}
.overflow-hidden {
  overflow: hidden;
}

.navLinks {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
}
.Gilroy{
  font-weight: 900;
  line-height: 1.29;
  font-family: Gilroy-Bold !important;
}
.hero-image {
  background-color: black;
  max-height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heroOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bottomText {
  bottom: 3px;
  left: 10%;
  right: 10%;
}
.column {
  height: 100%;
}
.column a {
  text-decoration: none;
  width: max-content;
}
.dropdownRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Sidebar */
.showSidebar{
  display: block !important;
}
.testimonials {
  height: 300px !important;
}
.sidebar {
  width: 250px;
  z-index: 11;
}
.sidebar a, .dropdown-btn {
  color: black;
  text-decoration: none;
}
.sidebar a:hover, .dropdown-btn:hover {
  color: white;
  background-color: #dc0a0a !important;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #dc0a0a;
  color: white;
}
.dropdown-container {
  display: none;
}
.z-10{
  z-index: 10;
}
.openBtn{
  left: 250px;
}

/* End of Header section */

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}


.iconDesc {
  width: 60px;
  height: 60px;
  background-color: #e8e8e8;
}

.profImg {
  width: 80px;
  height: 80px;
  background-color: #e8e8e8;
}

.testimonials {
  border-radius: 8px;
  border: solid 1px rgba(33, 33, 33, 0.2);
}

/* Font awesome */
.fa-twitter,
.fa-facebook-square,
.fa-dribbble,
.fa-linkedin,
.fa-youtube,
.fa-behance-square,
.fa-medium,
.fa-instagram {
  font-size: 1.5em !important;
}


/* Social section */
.socialInstagram {
  background-image: linear-gradient(57deg, #e49c10, #eb0c8a);
}
.socialLinkedIn {
  background-color: #0b5987;
}
.socialTwitter {
  background-color: #2680eb;
}
.socialFacebook {
  background-color: #166ace;
}
.social {
  height: 200px;
}


  /* Footer */
  .icons-foot {
    width: 40%;
    font-size: 1.5em;
  }
  .nav-links-below a {
  color: #fff;
}
.copy {
  margin-top: 30px;
  font-size: 1.2em;
}
.lowest {
  color: #6c757d;
}
.lowest a {
  color: #6c757d;
  font-size: 1.2em;
}
.right {
  /* width: 35%; */
  color: #6c757d;
  font-size: 14px;
}

/*MEDIA QUERIES TO HANDLE RESPONSIVENESS*/
@media screen and (max-width: 1079px) {
  /* .right {
    width: 40%;
  } */
} 

@media screen and (max-width: 800px) {
  .small-header {
    font-size: 32px !important;
  }
  div.social-icons {
    display: none;
  }
  div.end {
    font-size: xx-small;
  }
  .left,
  .right,
  .copy {
    width: max-content;
    font-size: xx-small;
  }
  .nav-links-below a {
    color: #fff;
    font-size: 1.5em;
  }
  div.icons-foot {
    width: 40%;
  }
  /* div.right a {
    /* padding-left: 10px;
  } */
  .testimonialText{
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .squareImage {
    width: 40px;
    height:40px;
  }
  .card-text-custom {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 760px) {
  .hero-image {
    height: 55%;
  }


}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
  .icons-foot {
    width: 40%;
    font-size: 1.5em;
  }

  .nav-links-below a {
    font-size: 1.5em;
  }

}
@media screen and (max-width: 992px) {
  .card-title-custom {
    font-size: 20px;
  }

  .card-text-custom {
    font-size: 14px;
  }

  .social {
    height: 100px;
  }
  
.fa-twitter,
.fa-dribbble,
.fa-linkedin-square,
.fa-behance-square {
  font-size: 1em;
}
}
@media screen and (max-width: 350px) {
  .small-header {
    font-size: 30px !important;
  }
  .iconImg{
    width: 120px !important;
    height: 27px;
  }
  .fa-bars{
    font-size: 1.2em !important;
  }
  .hero-image {
    height: 70%;
  }
}
@media screen and (max-width: 430px) {
  .mobileHeader {
    font-size: 16px;
  }
  .mobileFont {
    font-size: 12px;
  }
  .hero-image {
    height: 70%;
  }
  .icons-foot {
    width: 60% !important;
    font-size: 1.3em;
  }

  .nav-links{
    font-size: 1.5em;
  }
  .max-content {
    width: max-content;
  }
  .fa-twitter,
  .fa-facebook-square,
  .fa-dribbble,
  .fa-linkedin,
  .fa-behance-square,
  .fa-medium,
  .fa-youtube,
  .fa-instagram {
    font-size: 1.2em !important;
  }
}
